<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813450648626-9c51jtl1vbnatdb5u777hdibh99ju78n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813450648626-9c51jtl1vbnatdb5u777hdibh99ju78n</string>
	<key>API_KEY</key>
	<string>AIzaSyDR5PUihuL4nwZ_QdX7cNqCngBoHCv1Nkk</string>
	<key>GCM_SENDER_ID</key>
	<string>813450648626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ad</string>
	<key>PROJECT_ID</key>
	<string>adwaes-f79d8</string>
	<key>STORAGE_BUCKET</key>
	<string>adwaes-f79d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813450648626:ios:2e9094974217c1b00c302b</string>
</dict>
</plist>